:host(app-discover) {
    background-color: #B0BEC5;
    .fizz-buzz-ripple {
        cursor: pointer;
        text-align: center;
        font-size: 20px;
        width: 300px;
        margin: 10px;
        border-radius: 15px;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: transparent;
        align-items: center;
        mat-card {
            height: 100%;
        }
    }
    .divider {
        margin-top: 20px;
    }
}