<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Fizz Buzz Kata</mat-card-title>
        <mat-card-subtitle>By Atef Mlaouhi</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">Fizz Buzz is a group word game for children to teach them about division. Players take turns to count incrementally, using this rules</mat-list-item>
            <mat-list-item role="listitem">- replacing any number contain or divisible by three with the word `Fizz` or `FIZZ`.</mat-list-item>
            <mat-list-item role="listitem">- replacing any number contain or divisible five with the word `Buzz` or `BUZZ`.</mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxFlexFill fxLayoutAlign="center center">
        <button mat-raised-button color="primary">More Informations</button>
    </mat-card-actions>
</mat-card>